name: "ESP-IDF build to releases (push)"

on:
  push:
    branches:
      - master

jobs:
  build-config-toml:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Get Env variables
        run: echo "TAG_NAME=v1.0" >> $GITHUB_ENV ; 

      - name: Create config.toml
        run: |
          echo "esp_toml_version = 1.0" > config.toml
          echo "firmware_images_url = \"${{ github.server_url }}/${{ github.repository }}/releases/tag/${{ env.TAG_NAME }}\"" >> config.toml
          echo "supported_apps = [\"${{ github.event.repository.name }}\"]" >> config.toml
          echo "" >> config.toml
          echo "[${{ github.event.repository.name }}]" >> config.toml
          echo "chipsets = [\"ESP32\", \"ESP32-S2\", \"ESP32-S3\", \"ESP32-C3\"]" >> config.toml
          echo "image.esp32 = \"merged-flash-esp32.bin\"" >> config.toml
          echo "image.esp32-s2 = \"merged-flash-esp32-S2.bin\"" >> config.toml
          echo "image.esp32-s3 = \"merged-flash-esp32-S3.bin\"" >> config.toml
          echo "image.esp32-c3 = \"merged-flash-esp32-C3.bin\"" >> config.toml
          echo "android_app_url = \"\"" >> config.toml
          echo "ios_app_url = \"\"" >> config.toml

      - name: Config.toml to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.MY_ACCESS_TOKEN }}
          file: config.toml
          tag: ${{ env.TAG_NAME }}
          overwrite: true

  build-and-upload-binaries:
    strategy:
      matrix:
        target: [esp32, esp32-S2, esp32-S3, esp32-C3]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      # - name: Use sdkconfig.defaults
      #   if: github.event_name == 'workflow_dispatch' && github.event.inputs.sdkconfig_defaults != ''
      #   run: echo "${{ inputs.sdkconfig_defaults }}" >> sdkconfig.defaults

      - name: Get Env variables
        run: echo "TAG_NAME=v1.0" >> $GITHUB_ENV ; 
      
      - name: ESP-IDF build
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: release-v4.4
          target: ${{ matrix.target }}
          # esp_idf_version: ${{ inputs.esp_idf_version }}
          # target: ${{ inputs.target }}
          # path: ${{ inputs.path }}
          command: |
            idf.py build
            cd build
            esptool.py --chip ${{ matrix.target }} merge_bin -o merged-flash-${{ matrix.target }}.bin @flash_args
            cd ..

      # - name: Find examples path
      #   run: echo "example_paths=$(find "examples" -name "CMakeLists.txt" ! -path "*/main/*" -printf "%h\n")" >> $GITHUB_ENV

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.MY_ACCESS_TOKEN }}
          file: build/merged-flash-${{ matrix.target }}.bin
          tag: ${{ env.TAG_NAME }}
          overwrite: true